.upperarea{
  font-size: 100px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1976D2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1565C0;
}